[Unit]
Description=Trading Platform Start Service
Documentation=man:systemctl(1)
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/ec2-user/shoonya_platform
ExecStart=/usr/bin/systemctl start trading.service
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
