[Unit]
Description=Shoonya Platform Start Service
Documentation=Starts shoonya trading platform
After=network.target

[Service]
Type=oneshot
User=ec2-user
WorkingDirectory=/home/ec2-user/shoonya_platform
ExecStart=/usr/bin/systemctl start shoonya_service.service
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
