[Unit]
Description=Trading Platform Stop Service
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/ubuntu/shoonya_platform
ExecStart=/bin/bash -c "systemctl stop trading.service; systemctl stop master.service; systemctl stop gateway.service"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
